Buoi3/BT2/2.3/order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <!-- Mỗi order -->
        <xs:element name="order" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Danh sách product -->
              <xs:element name="product" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="n" type="xs:string"/>
                    <xs:element name="quantity" type="xs:positiveInteger"/>
                  </xs:sequence>
                  <!-- id của product: chỉ duy nhất trong phạm vi order -->
                  <xs:attribute name="id" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- id của order: duy nhất toàn bộ tài liệu -->
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>

          <!-- Ràng buộc: trong mỗi order, các @id của product phải duy nhất -->
          <xs:unique name="UniqueProductIdPerOrder">
            <xs:selector xpath="product"/>
            <xs:field xpath="@id"/>
          </xs:unique>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
